.TodoForm {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  overflow: auto;
}

// ======= Create =======
.CreateTodo {
  text-align: center;
  width: 60%;
  margin-bottom: 20px;

  .todoInput {
    width: 50%;
    height: 30px;
    outline: none;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #eee;

    &:focus {
      border-bottom: 1px solid #2561D9;
    }
  }
}
// ======= Badge =======
.boxWrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Badge {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 150px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000;
  font-weight: bold;
  &.test1 {
    background-color: #000;
    border-color: #000;
    color: #fff;
    &.on {
      font-size: 12px;
      width: 70%;
      border: none;
    }
  }
  &.test2 {
    background-color: red;
    border-color: red;
    color: #fff;
    &.on {
      font-size: 12px;
      width: 70%;
      border: none;
    }
  }
  &.test3 {
    background-color: green;
    border-color: green;
    color: #fff;
    &.on {
      font-size: 12px;
      width: 70%;
      border: none;
    }
  }
}



// ======= Todo List =======
.listWrap {
  display: flex;
  gap: 20px;
  width: calc(100% - 5%);
  justify-content: center;
  flex-direction: column;

  &.on {
    flex-direction: row;
    width: calc(100% - 20px);
    .TodoList {
      width: 100%;
      height: min-content;
      display: inline-block;
      min-width:min-content;
    }
  }
}

.TodoList {
  border-radius: 10px;
  background-color: rgba(37, 97, 217, 0.5);
  padding: 20px;
  box-shadow: 1px 1px 5px #000;
  min-height: 100px;
  h2 {
    color: #fff;
    border-bottom: 1px dotted #fff;
    padding-bottom: 5px;
  }
}


// ======= Todo Item =======
  .todoWrap {
    // width: 100%;
    padding: 10px;

    border-bottom: 1px solid #2561D9;
    display: flex;
    align-items: center;
    height: auto;
    gap: 10px;
    margin-bottom: 5px;
    position: relative;
    
    .dateWrap {
      display:flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      text-align: center;
      margin-right: 10px;
    }
    .date {
      font-weight: bold;
    }

    .todoText {
      display: block;
      flex: 1;

      min-width: 0;
      height: 100%;
      white-space: normal;
    }

    .done {
      text-decoration: line-through;
      color: rgba($color: #eee, $alpha: 0.5);
    }

    .buttons {
      width: 70px;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    button {
      width: calc(100% - 10px);
      height: 30%;
      padding: 1px;
      margin-left: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      flex: 1;
      img {
        width: 20px;
      }
      // background-color: transparent;
      &:hover {
        background-color: rgba($color: #eee, $alpha: 0.7);
      }

      &:active {
        box-shadow: inset 1px 1px 2px #000;
      }
    }
  }
  // ======= 수정 Form =======
  .correction {
    display: none;

    &.on {
      display: block;
    }

    .input-wrap {
      display: flex;

      input {
        flex: 1;
        padding: 5px 0;
        font-size: 20px;
        border: none;
        outline: none;

        &::placeholder {
          font-size: 15px;
        }
      }
      button {
        padding: 5px 0;
        width: 100px;
        border: none
      }
    }
    .badge-wrap {
      margin-top: 10px;
      width: 100%;
      text-align: center;
      .Badge {
        margin-right: 5px;
        width: 100px;
      }
    }
  }





// ======= Scroll Custom =======
.TodoForm::-webkit-scrollbar {
  width: 16px;
}

.TodoForm::-webkit-scrollbar-thumb {
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #c8d6fb;
  background-size: 7px;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: inset -3px 0 #bad1fc, inset 1px 1px #b7caf5;

  &:active {
    background-color: #aec3fd;

  }
}

.TodoForm::-webkit-scrollbar-track {
  background-color: #eee;
}

.TodoForm::-webkit-scrollbar-button:start:decrement {

  background: url('../../images/icon/up.png');
}

.TodoForm::-webkit-scrollbar-button:end:increment {
  background: url('../../images/icon/tooldropdown.png');
}
