// ======= Form Wrapper ======== 
.WindowForm {
  width: 900px;
  height: 650px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  // height: calc(100% - 40px);
  &.hide {
    display: none;
  }
}

// ======= Form Head =======
.titleWrap {
  width: 100%;
  height: 35px;
  background: linear-gradient(#0058ee, #3593ff 4%, #288eff 6%, #127dff 8%, #036ffc 10%, #0262ee 14%, #0057e5 20%, #0054e3 24%, #0055eb 56%, #005bf5 66%, #026afe 76%, #0062ef 86%, #0052d6 92%, #0040ab 94%, #003092);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;

  &.out {
    background: linear-gradient(#7697e7, #7e9ee3 3%, #94afe8 6%, #97b4e9 8%, #82a5e4 14%, #7c9fe2 17%, #7996de 25%, #7b99e1 56%, #82a9e9 81%, #80a5e7 89%, #7b96e1 94%, #7a93df 97%, #abbae3);

  }
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  color: #fff;
  font-weight: bold;
}

.control-buttons {
  margin-right: 5px;
  display: flex;
  align-items: center;
  gap: 3px;

  img:hover {
    filter: brightness(120%);
  }

  img:active {
    filter: brightness(100%);
  }
}


// ======= Form body =======
.window-body {
  border: 5px solid #2561D9;
  border-top: none;
  height: calc(100% - 35px);
  display: flex;
  flex-direction: column;

  &.out {
    border: 5px solid #7587dd;
    border-top: none;
  }
}

// ======= Toolbar =======
.Toolbar {
  width: 100%;
  height: 115px;
  background-color: beige;

  .top {
    height: 35px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: inline-block;
      border: 2px solid transparent;
      padding: 4px 3px;
      // margin: 0 3px;
      height: 100%;
      cursor: default;

      &:hover {
        box-shadow: 1px 1px 1px 0 #ddd;
        border-top: 2px solid #ddd;
        border-left: 2px solid #ddd;
      }

      &:active {
        box-shadow: inset 1px 1px 1px 0 #000;
      }
    }

    img {
      height: 100%;
      z-index: 1;
    }
  }

  .bottom {
    height: 45px;
    padding: 5px 0;
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: center;
    gap: 10px;

    .back-forward {
      margin-left: 5px;
      display: flex;
      align-items: center;

      img {
        filter: grayscale(100%);
      }

      .arrow {
        margin-left: 10px;
      }
    }

    .search-folder {
      display: flex;
      align-items: center;
      padding: 0 10px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;

      .folders {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  .search {
    height: 20px;
    padding: 1px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-address {
      height: 100%;
      // width: 60px;
      color: gray;
      font-size: 15px;

    }

    .search-bar {
      height: 16px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 5px;

      .search-text {
        border: 1px solid #ddd;
        flex: 1;
        height: 100%;
        background-color: #fff;
        padding: 0 5px;
        font-size: 13px;
        display: flex;
        align-items: center;

        img {
          margin-right: 5px;
        }
      }
    }

    .go-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      animation: imgBrightness 1s infinite linear;
      // &:hover img {
      //   filter: brightness(120%);
      // }

      // &:active img {
      //   filter: brightness(100%)
      // }

    }
  }
}

@keyframes imgBrightness {
  0% {
    filter: brightness(110%);
  }

  50% {
    filter: brightness(130%)
  }

  100% {
    filter: brightness(100%)
  }
}


.FormMain-wrap {
  flex-grow: 1;
  width: 100%;
  background-color: #fff;
  display: flex;
  overflow: auto;

  .main-left {
    width: 200px;
    padding: 10px;
    background: linear-gradient(#748aff, #4057d3);
    display: flex;
    flex-direction: column;

    .accordion-wrap {
      width: 100%;
      overflow: hidden;
    }

    .accordion-title {
      height: 30px;
      background: linear-gradient(90deg, #f0f0ff 0, #f0f0ff 30%, #a8bcff);
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      border-radius: 5px 5px 0 0;
      font-size: 15px;
      font-weight: bold;
      color: #2561D9;
      z-index: 1;
    }

    .content-wrapper {
      overflow: hidden;
    }

    .accordion-content {
      width: 200px;
      padding: 0;
      background: linear-gradient(90deg, #b4c8fb 0, #a4b9fb 50%, #b4c8fb) rgba(198, 211, 255, .87);
      // height: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      opacity: 0;
      transform: translateY(-100px);
      transition: 0.5s;

      // z-index: -10;
      &.on {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        padding: 5px 10px;
        border-radius: 0 0 5px 5px;
      }

      .Icon.side {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        img {
          width: 30px;
        }

        span {
          width: calc(100% - 50px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &:hover span {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }
  }

  .main-right {
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;

    .content {
      width: 80%;
      text-align: center;
      border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 30px;

      &.form-title {
        height: 100px;
        font-size: 35px;
        font-weight: bold;

      }

      &.img {
        height: 300px;
      }

      &.skill {
        height: 100px;
        display: flex;
        gap: 20px;

        img {
          height: 30px;
        }
      }

      &.desc {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

}

.Slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;

  .slide-btn {
    font-size: 50px;
    color: #2561D9;
  }

  .slide-content-wrap {
    width: 250px;
    overflow: hidden;

    // display: flex;
    // flex-wrap: nowrap;
    .slide-content {
      display: flex;
      transition: 0.5s;
    }

    img {
      // display: inline-block;
      width: 200px;
      height: 200px;
      margin: 0 25px;
    }

  }
}


// ======= Scroll Custom =======
.main-right::-webkit-scrollbar {
  width: 16px;
}

.main-right::-webkit-scrollbar-thumb {
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #c8d6fb;
  background-size: 7px;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: inset -3px 0 #bad1fc, inset 1px 1px #b7caf5;

  &:active {
    background-color: #aec3fd;

  }
}

.main-right::-webkit-scrollbar-track {
  background-color: #eee;
}

// .main-right::-webkit-scrollbar-button:vertical {
//   display: none;
// }
.main-right::-webkit-scrollbar-button:start:decrement {

  background: url('../../images/icon/up.png');
}

.main-right::-webkit-scrollbar-button:end:increment {
  background: url('../../images/icon/tooldropdown.png');
}




//  ======= Window Tab =======
.window-tab {
  flex: 1;

  max-width: 200px;
  height: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2px;
  cursor: default;
  border-radius: 3px;
  padding: 0 1px;
  background-color: #3c81f3;
  box-shadow: inset -1px 0 rgba(0, 0, 0, .3), inset 1px 1px 1px hsla(0, 0%, 100%, .2);

  &.on {
    background-color: #1e52b7;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .2), inset 1px 0 1px rgba(0, 0, 0, .7);
  }

  span {
    color: #fff;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.test3 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}